body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



@font-face {
    font-family: Sansus-Regular;
    src: url('../font/Sansus-Regular.ttf');
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.header {
    width: 100%;
    height: 100vh;
    background: url("../img/water.png") center no-repeat;
    background-size: cover;
    padding-top: 153px;
    position: relative;
}

.conteiner {
    margin: 0px 30px;
    height: 63px;
}

.socials_left {
    min-width: 50px;
    position: absolute;
    left: 30px;
    top: 0px;
}

.menu_right {
    position: absolute;
    right: 31px;
    top: 28px;
    background: url("../img/hamburger.svg") center no-repeat;
    background-size: contain;
    height: 35px;
    width: 40px;
}

.socials__list {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    margin: 0;
    padding: 0;
}

.socials__list:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 90px;
}

.socials__item {
    background: url("../img/spritesheet.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.socials__git {
    margin-left: 30px;
    background-position: -3px 0;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__git:hover {
    background-position: -38px 0;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__in {
    margin-left: 30px;
    background-position: -75px -2px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__in:hover {
    background-position: -110px -2px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__vk {
    margin-left: 0px;
    background-position: -146px 3px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__vk:hover {
    background-position: -185px 3px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.about_avatar {
    width:500px;
    height: 500px;
}

.info {
    height: 724px;
}

.info_card {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.image-wrap {

    display: inline-block;
    background: url('../img/avatar.jpg') no-repeat;
    width: 140px;
    height: 140px;
    border-radius: 50em;
    background-size: 100%;
    text-align: center;
}

.name {
    display: block;
    margin: 30px 0px 0px 0px;
    color: white;
    font-size: 35px;
    font-family: Roboto, sans-serif;
}

.web_develop {
    display: block;
    color: white;
    font-family: Roboto, sans-serif;
}

.elliplse_block {
    background: url("../img/bg.svg") no-repeat center ;
    background-size: cover;
    width:100%;
    height: 400px;
    transform: translateY(-100%);
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
}

.my_works {
    color: black;
    font-size: 63px;
    font-weight: 600;
    line-height: 46px;
    text-transform: uppercase;
    margin-top: 244px;
    font-family: Sansus-Regular;
}

.content {
    width: 100%;
    height: 100vh;
}

.block_left {
    width: 50%;
    height: 100%;
    min-height: 600px;
    background: #ebefe2;
    float: left;
    min-width: 350px;
}

.block_right {
    width: 50%;
    height: 100%;
    min-height: 600px;
    background: #e1e4d7;
    float: right;
}

.technolog {
    position: relative;
    width: 380px;
    max-width: 100%;
    text-align: center;
    margin: 245px auto;
}
.site_name {
    color: #373e42;;
    font-size: 35px;
    font-family: Sansus-Regular;
    width: 300px;

    padding-top: 245px;
    text-align: center;
}

.site_name:after {
    content: '';
    display: block;
    width: 89px;
    height: 3px;
    background-color: #373e42;;
    margin: 25px auto 30px;
}

.about {
    height: 116vh;
    width: 100%;
    background-color: #f4f5f0;
    background-image: url("../img/about_bg.png");
    background-repeat: repeat-x;
    background-position: 19% 90%, right center, bottom center;
    background-size: 100%;
    align-items: center;
    color: #fff;
}

.about_me {
    font-family: Sansus-Regular;
    text-transform: uppercase;
    font-size: 63px;
    max-width: 360px;
    margin: 0px auto;
    padding-top: 72px;
    text-align: center;
    color: black;
}

.comment {
    max-width: 876px;
    margin: 0 auto;
    padding-top: 62px;
    background-color: rgba(244, 245, 240, 0.5);
}

.comments_koval {
    display: inline-block;
    width: 400px;
}

.avatar1{
    background: url("../img/dima.png");
    width: 70px;
    height: 70px;
    border-radius: 50em;
    background-size: 100%;
    margin: 0px auto 20px;
}

.comment_text {
    display: block;
    margin: 0;
    position: relative;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
}

.comment_zar {
    display: inline-block;
    width: 400px;
    margin-left: 50px;
}

.avatar2 {
    background: url("../img/zar.png");
    width: 70px;
    height: 70px;
    border-radius: 50em;
    background-size: 100%;
    margin: 0px auto 20px;
}

.comment_text2 {
    display: block;
    margin: 0;
    position: relative;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
}


.back_coupling {
    position: relative;
    margin-top: 69px;
    width: 348px;
    color: rgba(93, 90, 85, 0.5);
    background-color: rgba(224, 224, 220, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 81px auto;
    border-radius: 5px;
;
}

.form {
    text-align: center;
    position: relative;
}

.form_name {
    color: #4e8839;
    font-size: 34px;
    font-family: Roboto;
}

.input_name {
    box-sizing: border-box;
    width: 88.6%;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: rgba(93, 90, 85, 0.5);
    border: none;
    padding-left: 18px;
    border-radius: 30px;
}

.input_mail {
    box-sizing: border-box;
    width: 88.6%;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: rgba(93, 90, 85, 0.5);
    background-color: white;
    border: none;
    padding-left: 18px;
    border-radius: 30px;
}

.back_coupling textarea {
    width: 76.6%;
    border-radius: 22.5px;
    opacity: 0.85;
    background-color: white;
    color: rgba(93, 90, 85, 0.5);
    font-family: Roboto;
    font-size: 16px;
    padding: 15px 19px;
    margin-bottom: 20px;
    border: none;
    resize: none;
}

.submit_btn {
    position: relative;
    color: #ffffff;
    font: 500 16px / 36px 'Roboto';
    background-color: rgba(108, 156, 90, 0.8);
    display: block;
    width: 50%;
    text-decoration: none;
    border: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    float: left;
    border-right: 1px solid white;
}

.clear-btn {
    position: relative;
    color: #ffffff;
    font: 500 16px / 36px 'Roboto';
    background-color: rgba(108, 156, 90, 0.8);
    display: block;
    width: 50%;
    text-decoration: none;
    border: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    float: right;
    border-left: 1px solid white;
}

.arrow_down {
    display: block;
    margin: 70px auto;
}

.arrow_down_link {
    background-image: url("../img/about_bg.png");
}

.empty{
    height: 185px;
}

.footer {
    height: 185px;
    margin-top: -185px;
    background-color: rgba(55, 62, 66, 0.85);
    font-family: Roboto;
    font-size: 16px;
    color: white;
    z-index: 1;
    opacity: 0.50;
}

.footer_content {
    padding: 2.875rem 2.9375rem;
    color: white;
}

.footer_block1 {
    display: inline-block;
    width: 630px;
    float: left;
    border-right: 2px solid white;
}

.footer_block2 {
    display: inline-block;
    float: left;
    margin-left: 76px;

}

.list {
    list-style: none;
    display: flex;
    margin: 0 auto;
}

.footer_link {
    text-decoration: none;
}

.list_blog {
    margin-right: 15px;
    display: block;
}

.ellepse {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    width: 100%;
    height: 12.5rem;
}

.ellepse_left {
    fill: #ebefe2;
}

.ellepse_right {
    fill: #f4f5f0;
}

.about_l {
    float: left;
    height: 100vh;
    width: 50%;
    background-color: #ebefe2;
}

.about_r {
    float: right;
    height: 100vh;
    width: 50%;
    background-color: #f4f5f0;
}

.about_title {
    font-family: Sansus-Regular;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 88px;
    top: 120%;
}

.about_title:after {
    content: '';
    display: block;
    width: 5.5625rem;
    height: 3px;
    background-color: #ffffff;
    margin: 1.5625rem auto 1.875rem;
}

.about_photo {
}

.photo {
    width: 484px;
    float: right;
}


.who_am_i {
    position: absolute;
    left: 433px;
    top: 1501px;
    font-family: Sansus-Regular;
    font-size: 49px;
    text-transform: uppercase;
}

.who_am_i:after {
    content: '';
    display: block;
    width: 5.5625rem;
    height: 3px;
    background-color: #ffffff;
    margin: 1.5625rem auto 1.875rem;
}

.who_am_text {
    float: right;
    width: 392px;
    padding-top: 147px;
    padding-right: 23px;
}

.map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

.smallMap {
    width: 1915px !important;
    height: 700px !important;
}


.socials__list2 {
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    margin: 0;
    padding: 0;
}

.socials__list2:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 90px;
}

.socials__item2 {
    background: url("../img/spritesheet.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.socials__git2 {
    margin-left: 30px;
    background-position: -3px 0;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__git2:hover {
    background-position: -38px 0;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__in2 {
    margin-left: 30px;
    background-position: -75px -2px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__in2:hover {
    background-position: -110px -2px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__vk2 {
    margin-left: 0px;
    background-position: -146px 3px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}

.socials__vk2:hover {
    background-position: -185px 3px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .1s;
}


.footer_content2 {
    float: right;
    width: 651px;
    border-left: 2px solid white;
}