doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title portfolio
        link(rel='stylesheet', href='../css/main.css')
        link(rel='stylesheet', href='../node_modules/normalize.css/normalize.css')
    body
        .wrapper
            header.header
                .socials_left
                    ul.socials__list
                        li.socials__item.socials__vk
                            a.socials__link(href="#")
                        li.socials__item.socials__git
                            a.socials__link(href="#")
                        li.socials__item.socials__in
                            a.socials__link(href="#")
                .menu_right
                .info_card
                    .image-wrap
                    span.name Дмитрий Межевых
                    span.web_develop Личный сайт веб-разрабочик
                .elliplse_block
            section.about_left
                span.about_name Обо мне
                    .my_photo
