doctype html
html
        head
            meta(charset='UTF-8')
            meta(name="viewport" content="width=device-width, initial-scale=1")
            title portfolio
            link(rel='stylesheet', href='../css/main.css')
            link(rel='stylesheet', href='../node_modules/normalize.css/normalize.css')
        body
         .wrapper
             header.header
                .socials_left
                    ul.socials__list
                        li.socials__item.socials__vk
                            a.socials__link(href="#")
                        li.socials__item.socials__git
                            a.socials__link(href="#")
                        li.socials__item.socials__in
                            a.socials__link(href="#")
                .menu_right
                .info_card
                    .image-wrap
                    span.name Дмитрий Межевых
                    span.web_develop Личный сайт веб-разрабочик
                .elliplse_block
                    h1.my_works МОИ РАБОТЫ
             section.content
                .block_left
                    .technolog
                        span.site_name Сайт школы онлайн образования
                        span.tags HTML, CSS, JAVASCRIPT
                .block_right
                    .block_slide
             section.about
                h1.about_me что обо мне говорят
                .comment
                    .comments_koval
                        .avatar1
                        .comment_text Этот парень проходил обучение веб-разработке не где-то, а в Loftschool!2 месяца только самых тяжелых испытаний и бессоных ночей!
                    .comment_zar
                        .avatar2
                        .comment_text2 Этот код выдержет любые испытания.Только пожалуйста, не загружайте сайт на слишком старых браузерах
                .back_coupling
                    h2.form_name Связаться со мной
                    form.form
                        input(type="text" placeholder='Ваше имя' class='input_name')
                        input(type='text' placeholder='Ваш e-mail' class='input_mail')
                        textarea(placeholder='Ваше сообщение')
                        input(type='submit' class='submit_btn')
                        input(type='reset' class='clear-btn')
                .arrow_down
                    a.arrow_down_link(href="#")
             .empty
         footer.footer
            .footer_content
                .footer_block1
                    span.loftschool Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer_block2
                    ul.list
                        li.list_blog
                            a.footer_link(href="#") Мои работы
                        li.list_blog
                            a.footer_link(href="#") Блог
                        li.list_blog
                            a.footer_link(href="#") Обо мне
                        li.list_blog
                            a.footer_link(href="#") Авторизация
                    ul.socials__list2
                        li.socials__item.socials__vk2
                            a.socials__link(href="#")
                        li.socials__item.socials__git2
                            a.socials__link(href="#")
                        li.socials__item.socials__in2
                            a.socials__link(href="#")
                .footer_block3
                    span.footer_content2 Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.



